@charset "utf-8";

body {
    color: #000000;
    background-color: #CDC6EA;
    text-align: left;
    padding-left: 3%;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}
.fluid {
    text-align: left;
}
.intro_paragraph{
	text-align: right;
}
.intro_paragraph img{
    float: left;
    display: block;
    height: 200px;
    width: 200px;
    max-width: 15%;
    max-height: 15%;
}

body h1 {
    clear: left;
}
body p {
    font-size: x-large;
}
h3 .menu_bar a {
    font-size: x-large;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    text-align: right;
}
.footer {overflow: auto;

}